// colors
$grey: #dddddd;

// spacing
$space: 1.4rem;

// font sizes
$base-font-size: $space;

// form inputs
$input-border: $grey;

// boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;